```gitignore
# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Tests
.tests/
.pytest_cache/

# Logs
*.log

# Environment
.env
.env.local
*.env.*

# Dependencies
.venv/
venv/
pip-log.txt
pipenv.lock

# Coverage
.coverage
htmlcov/
coverage/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
```